[Desktop Entry]
Name=Runner Lock Screen
Name[tr]=Koşucu Kilit Ekranı Arkaplanı
X-KDE-PluginInfo-Name=RunnerLockScreen
X-KDE-PluginInfo-Author=Yunusemre Şentürk
X-KDE-PluginInfo-Email=yunusemre.senturk@pardus.org.tr
X-KDE-PluginInfo-License=GPL-3.0+
