[Desktop Entry]
Name=Yellow Mountain
Name[tr]=Sarı Dağ
X-KDE-PluginInfo-Name=YellowMountain
X-KDE-PluginInfo-Author=Yunusemre Şentürk
X-KDE-PluginInfo-Email=yunusemre.senturk@pardus.org.tr
X-KDE-PluginInfo-License=GPL-3.0+
