[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Pardus Home Page
Comment=The offical web site of the Pardus Project
Icon=emblem-pardus
Type=Link
URL=http://www.pardus.org.tr

