[Desktop Entry]
Name=Gray

X-KDE-PluginInfo-Name=gray
X-KDE-PluginInfo-Author=Ozge Dogan
X-KDE-PluginInfo-Email=ozge.dogan@pardus.org.tr
X-KDE-PluginInfo-License=GPL-3
