[Desktop Entry]
Name=Yellow Mountain Lock Screen
Name[tr]=Sarı Dağ Kilit Ekranı Arkaplanı
X-KDE-PluginInfo-Name=YellowMountainLockScreen
X-KDE-PluginInfo-Author=Yunusemre Şentürk
X-KDE-PluginInfo-Email=yunusemre.senturk@pardus.org.tr
X-KDE-PluginInfo-License=GPL-3.0+
