[Desktop Entry]
Name=Runner
Name[tr]=Koşucu
X-KDE-PluginInfo-Name=Runner
X-KDE-PluginInfo-Author=Yunusemre Şentürk
X-KDE-PluginInfo-Email=yunusemre.senturk@pardus.org.tr
X-KDE-PluginInfo-License=GPL-3.0+
