[Desktop Entry]
Name=Blue Lock Screen
Name[tr]=Mavi Kilit Ekranı Arkaplanı
X-KDE-PluginInfo-Name=BlueLockScreen
X-KDE-PluginInfo-Author=Yunusemre Şentürk
X-KDE-PluginInfo-Email=yunusemre.senturk@pardus.org.tr
X-KDE-PluginInfo-License=GPL-3.0+
