[Desktop Entry]
Name=Anger
Name[tr]=Öfke
X-KDE-PluginInfo-Name=Anger
X-KDE-PluginInfo-Author=Yunusemre Şentürk
X-KDE-PluginInfo-Email=yunusemre.senturk@pardus.org.tr
X-KDE-PluginInfo-License=GPL-3.0+
