[Desktop Entry]
Name=Optimum
X-KDE-PluginInfo-Name=optimum
X-KDE-PluginInfo-Author=Yunusemre Şentürk
X-KDE-PluginInfo-Email=yunusemre.senturk@pardus.org.tr
X-KDE-PluginInfo-License=GPLv2+
