Source: desktop-base
Section: x11
Priority: optional
Maintainer: Yunusemre Şentürk <yunusemre.senturk@pardus.org.tr>
Uploaders: Yves-Alexis Perez <corsac@debian.org>,
           Josselin Mouette <joss@debian.org>,
           Paul Tagliamonte <paultag@debian.org>,
           Aurélien COUDERC <coucouf@debian.org>
Build-Depends: debhelper (>= 11),
               librsvg2-bin,
               optipng,
               fonts-quicksand
Rules-Requires-Root: no
Standards-Version: 4.3.0
Homepage: https://www.debian.org/devel/debian-desktop/
Vcs-Browser: https://salsa.debian.org/debian-desktop-team/desktop-base
Vcs-Git: https://salsa.debian.org/debian-desktop-team/desktop-base.git

Package: desktop-base
Architecture: all
Depends: librsvg2-common
Suggests: gnome | xfce4
Description: common files for the Pardus Desktop
 This package contains various miscellaneous files which are used by
 Pardus Desktop installations.  Currently, it provides some
 Pardus-related artwork and themes, .desktop files containing links to
 Pardus related material (suitable for placement on a user's desktop),
 and other common files between the available desktop environments
 such as GNOME and KDE.
