[Desktop Entry]
Name=Blue

X-KDE-PluginInfo-Name=blue
X-KDE-PluginInfo-Author=Ozge Dogan
X-KDE-PluginInfo-Email=ozge.dogan@pardus.org.tr
X-KDE-PluginInfo-License=GPL-3
