[Desktop Entry]
Name=Optimum Lock Screen
X-KDE-PluginInfo-Name=OptimumLockScreen
X-KDE-PluginInfo-Author=Yunusemre Şentürk
X-KDE-PluginInfo-Email=yunusemre.senturk@pardus.org.tr
X-KDE-PluginInfo-License=GPLv2+
