[Desktop Entry]
Name=Blue
Name[tr]=Mavi
X-KDE-PluginInfo-Name=Blue
X-KDE-PluginInfo-Author=Yunusemre Şentürk
X-KDE-PluginInfo-Email=yunusemre.senturk@pardus.org.tr
X-KDE-PluginInfo-License=GPL-3.0+
