[Desktop Entry]
Name=Anger

X-KDE-PluginInfo-Name=anger
X-KDE-PluginInfo-Author=Ozge Dogan
X-KDE-PluginInfo-Email=ozge.dogan@pardus.org.tr
X-KDE-PluginInfo-License=GPL-3
