[Desktop Entry]
Name=Gray
Name[tr]=Gri
X-KDE-PluginInfo-Name=Gray
X-KDE-PluginInfo-Author=Yunusemre Şentürk
X-KDE-PluginInfo-Email=yunusemre.senturk@pardus.org.tr
X-KDE-PluginInfo-License=GPL-3.0+
